@inherits BasePage
<Div Display="Display.Flex"
     Flex="Flex.Column.AlignItems.Stretch"
     Height="Height.Is100"
     Position="Position.Relative">
    <EventInformationBar />
    <Div Display="Display.Flex"
         Flex="Flex.Row.AlignItems.Stretch.Grow.Is1"
         Height="Height.Is100">
        <ParticipantList ShowGiftPurchased />
        <Div Display="Display.Flex"
             Flex="Flex.Column.AlignItems.Stretch"
             Height="Height.Is100"
             Position="Position.Relative">
            <EventStateOverlay />
        </Div>
        </Div>
    <RoomChat/>
</Div>