@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <Button Type="ButtonType.Link" Color="Color.Link" Clicked="BeginLogout" Shadow="Shadow.Small">Log out <BarIcon IconName="IconName.Lock" /></Button>
    </Authorized>
    <NotAuthorized>
        <Button Type="ButtonType.Link" Color="Color.Primary" To="authentication/login" Shadow="Shadow.Small">Log in <BarIcon IconName="IconName.Unlock" /></Button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
