<Div Display="Display.Flex" 
     Flex="Flex.Row.JustifyContent.Between.AlignItems.Center" 
     Border="Border.Is2.Light.OnBottom"
     Background="Background.Dark">
    <EventTimerComponent />
</Div>