<Div Display="Display.Flex" Flex="Flex.Column.JustifyContent.End.Grow.Is1"
     Background="Background.Dark">
    <Div Display="Display.Flex" Flex="Flex.Column.JustifyContent.End.AlignItems.Stretch" TextOverflow="TextOverflow.Wrap">
        <Repeater TItem="CrowsOnTheShelf.Shared.Models.ChatMessage" Items="SantaEventService.EventState.ChatLog" >
            <ChatMessageDisplay Message="@context" />
        </Repeater>
    </Div>
    <Div>

    </Div>
</Div>