<SEO Title="Not Found" Description="Error page indicating the wrong link or action was performed" />
<Container Fluid>
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnDesktop.IsThird.OnFullHD.IsFull.OnMobile"
                Flex="Flex.AlignItems.Center.JustifyContent.Center">
            <Card>
                <CardBody>
                    <CardTitle Size="3">
                        Page Not Found
                    </CardTitle>
                    <CardText>
                        Looks like the page you were trying to reach could not be found. If you think this is a mistake, please let us know.
                    </CardText>
                </CardBody>
                <CardActions>
                    <Button Type="ButtonType.Link"
                            Color="Color.Primary"
                            Border="Border.Is2.Dark.OnAll.Rounded.OnAll"
                            To="/"
                            Target="Target.Self">
                        <Icon Name="IconName.ArrowLeft" />
                        Back to Homepage
                    </Button>
                </CardActions>
            </Card>
        </Column>
    </Row>
</Container>